1ºano/1_Maria_Ribeiro_files/CDI II/Caderno CDI2 - Barbas.pdf
1ºano/1_Maria_Ribeiro_files/AL/Livro Inglês/Álgebra Linear - David Lay.pdf
1ºano/1_Maria_Ribeiro_files/AL/AL.rar
1ºano/1_Maria_Ribeiro_files/IAC/Livro/IAC LEIC-A.zip
1ºano/11_Linear_Algebra/cenas q não sei de onde vieram/Álgebra Linear - David Lay1.pdf
3ºano/312_Computer_Networks/VM.ova
4ºano/422_Cloud_Computing_and_Virtualization/cnv-23-24-vis-chk-G31.zip
4ºano/422_Cloud_Computing_and_Virtualization/P1/cnv-23-24-vis-chk-G31/video demonstração.mp4
4ºano/422_Cloud_Computing_and_Virtualization/VM-shared/cnv24-g31.tar
5ºano/512_Data_Science/class_ny_arrests/class_ny_arrests.csv
desktop.ini