<!DOCTYPE html>
<html>
    <style>
        body {
            font-family: monaco, Consolas, "Lucida Console", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px; 
        }
        div {
            display: flex;
            flex-direction: column;
        }
    </style>
<head>
    <meta charset="utf-8">
    <title>root</title>
</head>
<body style="padding:20px">
    <div>
        <a href="a">Gerir Categorias
        <a href="b">Gerir Retalhistas
        <a href="c">Listar Reposições
        <a href="d">Listar Subcategorias
    </div>
</body>
</html>